

<%-include("../partials/header")%>

<div class="container bg-light w-50" id="box">
    
    <h1 class="text-center mt-4" id="CreateNew">Sign Up</h1>

<form action="/register" method="POST">
    
    <div class="container mt-3 w-75 px-5">
        <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="password" name="password">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-large w-50 mx-auto">Submit</button>
        </div>
       
    </div>
    
    
</form>

</div>


<%-include("../partials/footer")%>


