<%- include("partials/header") %>

<div class="container mt-3">
    <div class="jumbotron text-center">
        <h1 class="text-uppercase text-success">Welcome to YelpCamp!</h1>
        <p>View our handpicked collection of Campgrounds</p>
        <a class="btn btn-outline-success btn-large" href="/campgrounds">Campgrounds</a>
    </div>
</div>
<%- include("partials/footer") %>
